@import "../../../style/reset.css";

.modal {
background: var(--background-modal);
border-radius: 4px;
min-width: 320px;
position: fixed;
left: 50%;
padding: 10px;
top: 50%;
transform: translate(-50%, -50%);
z-index: 11;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h2{
color: var(--white);
}

.overlay {
background: #000;
height: 100vh;
left: 0;
opacity: 0.5;
position: fixed;
top: 0;
width: 100vw;
z-index: 10;
}

form{
width: 90%;
height: 70%;
display: flex;
flex-direction: column;
align-items: center;
gap: 11px;
}

label{
width: 100%;
color: var(--white);
}

input{
width: 97%;
height: 42px;
border: 1px solid var(--white);
border-radius: 4px;
background-color: var(--input-background);
color: var(--white);
padding-left: 10px;
font-size: 16px;
}
#text::placeholder {
color: var(--button-2);
font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button { 
-webkit-appearance: none;

}
input[type=number] { 
-moz-appearance: textfield;
appearance: textfield;

}

select{
width: 100%;
height: 42px;
border: 1px solid var(--white);
border-radius: 4px;
background-color: var(--input-background);
color: var(--white);
padding-left: 10px;
font-size: 16px;
}

.errorMessage{
color: var(--error);
width: 100%;
height: 10px;
padding: 0;
font-size: 12px;
}

.cadastrar{
width: 100%;
height: 48px;
background-color: var(--button-1);
border-radius: 4px;
border: none;
color: var(--white);
font-size: 16px;
cursor: pointer;
}


span{
color: var(--button-2);
font-size: 12px;
padding: 20px 0;
}
