<ng-container *ngIf="mostrar">
    <div class="modal fadeIn">
        <h2>Editar Imóvel</h2>
        <form [formGroup]="editImovelForm"  (ngSubmit)="submitEditImovelForm()">
            <label for="">Status</label>
            <select formControlName="status">
                <option value="Em Estoque">Em Estoque</option>
                <option value="Vendido">Vendido</option>
            </select>

            <label for="">Nome do Imóvel</label>
            <input formControlName="name" id="text" type="text" placeholder="-">
    
            <label for="">Valor de Compra</label>
            <input formControlName="valor_compra" id="text" type="number" placeholder="R$">
        
            <label for="">Valor de Venda</label>
            <input formControlName="valor_venda" id="text" type="number" placeholder="-">
        
            <label for="">Descrição</label>
            <input formControlName="description" id="text" type="text" placeholder="-">
    
            <button [disabled]="editImovelForm.invalid" class="editar">Editar</button>
        </form>        
    </div>
    <div (click)="toggle()" class="overlay"></div>
</ng-container>
