<div class="containerCard fadeIn">
    <ul class="innerContainer" id="wrap">
        <li *ngFor="let imovel of imoveis" class="card">
            <div class="imgDiv">
                <h2 class="status">{{imovel.status}}</h2>
                <img src={{imovel.image}} alt="Imóvel">
            </div>

            <h2>{{imovel.name}}</h2>
            <h2>Valor de Compra: {{imovel.valor_compra}}R$</h2>
            <h2>Valor de Venda: {{imovel.valor_venda}}R$</h2>
            <h2>Lucro: {{imovel.valor_venda - imovel.valor_compra}}R$</h2>
            <div class="buttonsDiv">
                <button (click)="deleteImoveis(imovel.id)">Deletar</button>
                <button (click)="editImovelModal.toggle()">Editar</button>
            </div>
        </li>
    </ul>
    <app-edit-imovel-modal #editImovelModal></app-edit-imovel-modal>
</div>