<div class="containerCard fadeIn">
    <ul id="wrap">
        <li class="card">
            <div class="imgDiv">
                <h2 class="status">Em estoque</h2>
                <img src="../../../assets/image 1.png" alt="Imóvel">
            </div>

            <h2>Imóvel 1 - Flores</h2>
            <h2>Valor de Compra: 80.000,00R$</h2>
            <h2>Valor de Venda: 80.000,00R$</h2>
            <h2>Lucro: 10.000,00R$</h2>
            <div class="buttonsDiv">
                <button>Deletar</button>
                <button>Editar</button>
                <button>Vender</button>
            </div>
        </li>
    </ul>

</div>