<div class="containerCard fadeIn">
    <div class="aviso" *ngIf="imoveis.length === 0">
        <i class="material-icons" matSuffix>settings</i>
        <h1 class="aviso" >Nenhum imóvel cadastrado no momento...</h1>
    </div>
    <ul class="innerContainer" id="wrap">
        <li *ngFor="let imovel of imoveis" class="card">
            <div [routerLink]="['/imovel', imovel.id]" class="imgDiv">
                <h2 class="status">{{imovel.status}}</h2>
                <img src={{imovel.image}} alt="Imóvel">
            </div>

            <h2>{{imovel.name}}</h2>
            <h2>Valor de Compra: {{imovel.valor_compra | currency : 'BRL'}}</h2>
            <h2>Valor de Venda: {{imovel.valor_venda | currency : 'BRL'}}</h2>
            <h2>Lucro: {{imovel.valor_venda - imovel.valor_compra | currency : 'BRL'}}</h2>
            <div class="buttonsDiv">
                <button (click)="deleteImoveis(imovel.id)">Deletar</button>
                <button (click)="editImovelModal.toggle(imovel.id)">Editar</button>
            </div>
        </li>
    </ul>
    <app-edit-imovel-modal #editImovelModal></app-edit-imovel-modal>
</div>