main{
    width: 100vw;
    height: 100vh;
}

section{
    margin-top: 10px;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 97.5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebarDiv{
    background-color: var(--background-modal);
    width: 13vw;
    height: 100%;
    border-radius: 4px;
}

.buttonContainer{
    padding-top: 10px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button{
    width: 95%;
    height: 50px;
    cursor: pointer;
    background-color: var(--background-color);
    border: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
}

button:hover{
    background-color: var(--input-background);
    transition: 144ms;
}

.containerCard{
    background-color: var(--background-modal);
    width: 83vw;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    height: 90%;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 8px;
    padding: 10px;
}

.statistics{
    width: 49%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imgDiv{
    width: 90%;
    height: 40%;
    position: relative;
    cursor: pointer;
}

.values{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.values > h2{
    width: 90%;
}

img{
    width: 90%;
    height: 100%;
    border-radius: 4px;
}

.status{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: var(--background-modal);
    border-radius: 4px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    width: 49%;
    height: 95%;
}