<main>
    <app-header></app-header>
    <info-header></info-header>
    <section>
        <div>
            <div class="slideInLeft sidebarDiv">
                <div class="buttonContainer">
                    <button [routerLink]="['/home']">Voltar</button>
                </div>
            </div>
            <div class="containerCard fadeIn">
                <div class="card">
                    <div class="statistics">
                        <div class="imgDiv">
                            <h2 class="status">{{imovel.status}}</h2>
                            <img src={{imovel?.image}} alt="Imóvel">
                        </div>
                        <div class="values">
                            <h2>Nome: {{imovel?.name}}</h2>
                            <h2>Valor de Compra: {{imovel?.valor_compra | currency : 'BRL'}}</h2>
                            <h2>Valor de Venda: {{imovel?.valor_venda | currency : 'BRL'}}</h2>
                            <h2>Lucro Total: {{imovel?.valor_venda - imovel.valor_compra | currency : 'BRL'}}</h2>
                        </div>
                    </div>
                    <div class="description">
                        <h2>Descrição: {{imovel.description}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>