header{
    width: 100vw;
    height: 66px;
    border-bottom: 2px solid var(--background-modal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.upperDiv{
    width: 97%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.innerDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    width: 70px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--background-modal);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

h1{
    font-size: 16px;
    color: var(--white);
}