main{
    width: 100vw;
    height: 100vh;
}

section{
    margin-top: 10px;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}