<ng-container *ngIf="mostrar">
    <div class="modal fadeIn">
        <h2>Editar Perfil</h2>
        <form [formGroup]="updateUserForm" (ngSubmit)="submitUpdateUserForm()">
            <label for="">Nome</label>
            <input formControlName="name" id="text" type="text" placeholder={{userData.name}}>
            <span class="errorMessage" *ngIf="isNameValid">Nome Obrigatório</span>

            <label for="">Email</label>
            <input formControlName="email" id="text" type="text" placeholder={{userData.email}}>
            <span class="errorMessage" *ngIf="isEmailValid">Email Obrigatório</span>
            
            <label for="">Senha</label>
            <div class="inputDiv">
                <input class="inputPassword" formControlName="senha" id="text" type="password" [type]="hide ? 'password':'text'" placeholder="Sua senha">
                <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</i>
            </div>
            <span class="errorMessage" *ngIf="isSenhaValid">Senha Obrigatória</span>
            
            <label for="">Contato</label>
            <input formControlName="contato" id="text" type="tel" placeholder={{userData.contato}}>
            <span class="errorMessage" *ngIf="isContatoValid">Contato Obrigatório</span>
            
            <button class="atualizar">Atualizar</button>
        </form>        
    </div>
    <div (click)="toggle()" class="overlay"></div>
</ng-container>