.modal {
  background: var(--background-modal);
  border-radius: 4px;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color: var(--white);
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

form{
  width: 95%;
  height: 90%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  }
  
  label{
  width: 100%;
  color: var(--white);
  }

  .inputDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: var(--input-background);
  outline: 0;
  border: 1px solid var(--white);
  border-radius: 4px;
  }

.inputPassword{
  width: 85%;
  height: 94%;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  padding-left: 10px;
  font-size: 16px;
  }

.material-icons{
color: var(--button-2);
padding-right: 5px;
cursor: pointer;
width: 25px;
height: 25px;
}
  
  input{
  width: 97%;
  height: 42px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: var(--input-background);
  color: var(--white);
  padding-left: 10px;
  font-size: 16px;
  }
  #text::placeholder {
  color: var(--button-2);
  font-size: 16px;
  }

.errorMessage{
  color: var(--error);
  width: 100%;
  height: 10px;
  padding: 0;
  font-size: 12px;
}
  
  .atualizar{
  width: 100%;
  height: 48px;
  background-color: var(--button-1);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  }
  
  
  span{
  color: var(--button-2);
  font-size: 12px;
  padding: 20px 0;
  }
  