<section class="container fadeIn">
    <h2>Cadastrar</h2>

    <span>Rápido e grátis, vamos nessa!</span>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
        <label for="">Nome</label>
        <input formControlName="name" id="text" type="text" placeholder="Seu nome">

        <label for="">Email</label>
        <input formControlName="email" id="text" type="text" placeholder="example@hotmail.com">
    
        <label for="">Senha</label>
        <input formControlName="senha" id="text" type="password" placeholder="-">

    
        <label for="">Contato</label>
        <input formControlName="contato" id="text" type="tel" placeholder="(00) 00000-0000">

        <button [disabled]="registerForm.invalid" class="cadastrar">Cadastrar</button>
    </form>

    <button [routerLink]="['']" class="voltar">Voltar</button>
</section>
