
.container{
width: 370px;
height: 600px;
background-color: var(--background-modal);
border-radius: 4px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

div{
width: 90%;
height: 12%;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}


h2{
color: var(--white);
font-size: 20px;
margin: 5px 0;
}

span{
color: var(--button-2);
font-size: 12px;
margin: 5px 0;
}

form{
width: 90%;
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.inputDivs{
    width: 100%;
}

.material-icons{
color: var(--button-2);
padding-right: 5px;
cursor: pointer;
width: 25px;
height: 25px;
}

.cadastrar{
width: 100%;
height: 48px;
background-color: var(--button-1);
border-radius: 4px;
border: none;
color: var(--white);
font-size: 16px;
cursor: pointer;
}

.voltar{
width: 100%;
height: 48px;
background-color: var(--button-2);
border-radius: 4px;
border: none;
color: var(--white);
font-size: 16px;
cursor: pointer;
}