<section class="container fadeIn">
    <h2>Cadastrar</h2>

    <span>Rápido e grátis, vamos nessa!</span>

    <form action="">
        <label for="">Nome</label>
        <input id="text" type="text" placeholder="Seu nome">

        <label for="">Email</label>
        <input id="text" type="text" placeholder="example@hotmail.com">
    
        <label for="">Senha</label>
        <input id="text" type="password" placeholder="-">

    
        <label for="">Contato</label>
        <input id="text" type="password" placeholder="(00) 00000-0000">

        <button class="cadastrar">Cadastrar</button>
    </form>

    <button [routerLink]="['']" class="voltar">Voltar</button>
</section>
