<section class="container fadeIn">
    <div>
        <h2>Cadastrar</h2>
    
        <span>Rápido e grátis, vamos nessa!</span>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
        <mat-form-field class="inputDivs">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" id="text" type="text" placeholder="Seu nome">
            <mat-error *ngIf="isNameValid">Nome Obrigatório</mat-error>
        </mat-form-field>
    
        <mat-form-field class="inputDivs">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" id="text" type="text" placeholder="example@hotmail.com">
            <mat-error *ngIf="isEmailValid">Email Obrigatório</mat-error>
        </mat-form-field>
     
        <mat-form-field class="inputDivs">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha" id="text" type="password" [type]="hide ? 'password':'text'" placeholder="Sua senha">
            <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</i>
            <mat-error *ngIf="isSenhaValid">Senha Obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field class="inputDivs">
            <mat-label>Contato</mat-label>
            <input matInput formControlName="contato" id="text" type="tel" placeholder="(00) 00000-0000">
            <mat-error *ngIf="isContatoValid">Contato Obrigatória</mat-error>
        </mat-form-field>
   
        <button class="cadastrar">Cadastrar</button>
        <button [routerLink]="['']" class="voltar">Voltar</button>
    </form>
</section>
