<section class="container fadeIn">
    <h2>Login</h2>

    <form [formGroup]="formAuth" (ngSubmit)="submitForm()">
        <label for="">Email</label>
        <input formControlName="email" id="text" type="email" placeholder="example@hotmail.com" required>
    
        <label for="">Senha</label>
        <input formControlName="senha" id="text" type="password" placeholder="-" required>

        <button [disabled]="formAuth.invalid" class="entrar">Entrar</button>
    </form>
    <span class="error" *ngIf="mesgError">Usuário ou senha incorreta</span>

    <span>Ainda não possui uma conta?</span>

    <button [routerLink]="['register']" class="cadastrar">Cadastrar</button>
</section>