.container{
width: 370px;
height: 505px;
background-color: var(--background-modal);
border-radius: 0.25rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h2{
color: var(--white);
font-size: 20px;
margin: 5px 0;
}

form{
width: 90%;
height: 50%;
padding-top: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.inputDivs{
width: 100%;
}

label{
width: 100%;
color: var(--white);
}

.material-icons{
color: var(--button-2);
padding-right: 5px;
cursor: pointer;
width: 25px;
height: 25px;
}

.entrar{
width: 100%;
height: 48px;
background-color: var(--button-1);
border-radius: 4px;
border: none;
color: var(--white);
font-size: 16px;
cursor: pointer;
}

span{
color: var(--button-2);
margin-top: 10px;
}

.cadastrar{
margin-top: 20px;
width: 90%;
height: 48px;
background-color: var(--button-2);
border-radius: 4px;
border: none;
color: var(--white);
font-size: 16px;
cursor: pointer;
}
