<section class="container fadeIn">
    <h2>Login</h2>

    <form action="">
        <label for="">Email</label>
        <input id="text" type="text" placeholder="example@hotmail.com">
    
        <label for="">Senha</label>
        <input id="text" type="password" placeholder="-">

        <button [routerLink]="['home']" class="entrar">Entrar</button>
    </form>

    <span>Ainda não possui uma conta?</span>

    <button [routerLink]="['register']" class="cadastrar">Cadastrar</button>
</section>