<section class="container fadeIn">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <label for="">Email</label>
        <input formControlName="email" id="text" type="email" placeholder="example@hotmail.com" required>
        <span class="errorMessage" *ngIf="isEmailValid">Email Obrigatório</span>

        <label for="">Senha</label>
        <div class="inputDiv">
            <input class="inputPassword" formControlName="senha" id="text" type="password" [type]="hide ? 'password':'text'" placeholder="Sua Senha" required>
            <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</i>
        </div>
        
        <span class="errorMessage" *ngIf="isSenhaValid">Senha Obrigatória</span>

        <button class="entrar">Entrar</button>
    </form>

    <span>Ainda não possui uma conta?</span>

    <button [routerLink]="['register']" class="cadastrar">Cadastrar</button>
</section>