<div class="slideInLeft">
    <div class="innerDiv">
        <div class="statisticsContainer">
                <h2 class="tittle">Estatísticas</h2>
                <h2>Imóveis Cadastrados: {{imoveisCadastrados}}</h2>
                <h2>Imóveis em Estoque: {{imoveisEmEstoque}}</h2>
                <h2>Imóveis Vendidos: {{imoveisVendidos}}</h2>
                <h2>Total de Compra: {{valorTotalComprado}} R$</h2>
                <h2>Total de Venda: {{valorTotalVendido}} R$</h2>
                <h2>Lucro Total: {{valorTotalVendido - valorTotalComprado}} R$</h2>
        </div>
        <button [routerLink]="['/home']">Voltar</button> 
    </div>
</div>